/*      Oasis Infobyte Level 1 - Task 3
         Temperature Converter Website
                     By
               Vaibhavi Suradkar
*/
body{
    background-image: url(images/pexels-photo-267151.webp);
    background-size: cover;
}
.icon{
    font-size: 30px;
}
.navbar-brand{
    font-size: 30px;
}
h2{
    font-size: 60px;
}
a{
    color: white;
}
.abc{
    text-align: center;
    background-color: url(images/pexels-photo-267151.webp);
    padding-top: 0px;
    padding-top: 40px;
    margin-left: 200px;
    margin-right:250px;
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 100px;
}
button{
    background-color:#1abc9c;
    border-radius: 10px;   
}
